@import 'variables.less';
@import 'global.less';

html{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	body{
		margin: 0;
		padding: 0;
		min-height: 100vh;
		min-width: 100%;
		position: absolute;
	}
}


.middle-container{
	.flexbox();
    .justify-content(center);
    .align-items(center);
    min-height: 100vh;
    min-width: 100%;
	
	.middle-content{
		.flexbox();
		.align-items(center);
		.flex-direction(column);

		div{
			position: relative;
			display: inline-block;
			margin-right: 4px;
		}
	}
}

.alphabet{
	// &>div{
	// 	background: red;
	// }
}

.alphabet-space{
	width: 32px;
}

.alphabet-0{
	width: 0px;
	height: 16px;
	.rounded_corners(50%);
	border: black solid 16px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: -8px;
		left: -8px;
		width: 0px;
		height: 16px;
		.rounded_corners(50%);
		border: white solid 8px;
	}
}

.alphabet-4{
	width: 8px;
	height: 0;
	top: -8px;
	left: -3px;
	border-top: red solid 0;
	border-right: green solid 0;
	border-bottom: black solid 40px;
	border-left: transparent solid 18px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: -6px;
		border-top: transparent solid 0;
		border-right: transparent solid 0;
		border-bottom: white solid 16px;
		border-left: transparent solid 6px;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 32px;
		height: 8px;
		width: 4px;
		border-top: black solid 8px;
		border-right: transparent solid 0;
		border-bottom: transparent solid 0;
		border-left: black solid 8px;
	}
}

.alphabet-A{
	width: 8px;
	height: 0;
	border-top: transparent solid 0;
	border-right: transparent solid 16px;
	border-bottom: black solid 48px;
	border-left: transparent solid 16px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 8px;
		border-top: transparent solid 0;
		border-right: transparent solid 4px;
		border-bottom: white solid 16px;
		border-left: transparent solid 4px;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 32px;
		left: -4px;
		width: 8px;
		border-top: transparent solid 0;
		border-right: transparent solid 4px;
		border-bottom: white solid 16px;
		border-left: transparent solid 4px;
	}
}

.alphabet-o{
	width: 0px;
	height: 4px;
	.rounded_corners(50%);
	border: black solid 16px;

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: -8px;
		left: -8px;
		width: 0px;
		height: 4px;
		.rounded_corners(50%);
		border: white solid 8px;
	}
}

.alphabet-a{
	width: 0px;
	height: 4px;
	.rounded_corners(50%);
	border: black solid 16px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: -12px;
		left: 9px;
		width: 0px;
		height: 32px;
		border-top: transparent solid 0px;
		border-right: transparent solid 0px;
		border-bottom: transparent solid 0px;
		border-left: black solid 7px;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 6px;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: -8px;
		left: -8px;
		width: 0px;
		height: 4px;
		.rounded_corners(50%);
		border: white solid 8px;
	}
}

.alphabet-J{
	width: 30px;
	height: 27px;
	.rounded_corners(50%);
	background-color: black;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: -19px;
		left: 18px;
		width: 0px;
		height: 32px;
		border-top: transparent solid 0px;
		border-right: black solid 12px;
		border-bottom: transparent solid 0px;
		border-left: transparent solid 0px;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: -17px;
		left: 8px;
		width: 0px;
		height: 22px;
		.round_corners(7px);
		border: white solid 7px;
	}
}

.alphabet-s{
	width: 24px;
	height: 36px;
	left: 3px;
	.rotate(-5deg);

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 6px;
		height: 6px;
		border: black solid 8px;
		border-bottom-color: transparent;
		.rounded_corners(50%);
		.rotate(-45deg);
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 14px;
		left: -1px;
		width: 7px;
		height: 7px;
		border: black solid 8px;
		border-bottom-color: transparent;
		.rounded_corners(50%);
		.rotate(135deg);
	}
}

.alphabet-n{
	width: 0px;
	height: 4px;
	.round_corner_up(45%);
	.round_corner_down(10%);
	border: black solid 16px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: -14px;
		left: 8px;
		width: 0px;
		height: 20px;
		.round_corner_left(8px);
		border-top: transparent solid 0px;
		border-right: black solid 8px;
		border-bottom: transparent solid 0px;
		border-left: transparent solid 0px;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: -8px;
		left: -8px;
		width: 0px;
		height: 13px;
		.round_corner_up(8px);
		border: white solid 8px;
	}
}